* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}


a {
  text-decoration: none;
  color: inherit; 
}

ul, ol {
  list-style: none;
}

img, video {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font-family: inherit; 
  font-size: inherit;
}
