.container {
    width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.header {
    background-color: #012D63;
    height: 90px;
}
.container-header {
  display: flex;
  align-items: center;

}
.header-list {
  display: flex;
  gap: 39px;
}

.header-logo {
    width: 100px;
    height: 60px;
    margin-top: 16px;
    margin-bottom: 14px;
    margin-right: 110px;
}

.header-text {
        font-family: "roboto";
    font-weight: 300;
    font-size: 24px;
    color: #c7c7c7;
}
.header-text:hover{ 
    font-family: "roboto";
    font-weight: 400;
    font-size: 24px;
    color: #fff;
}

.header-lang-btn {
    font-family: "roboto";
font-size: 24px;
color: #c7c7c7;
background-color: #012D63;
border: 1px #012D63;
  margin-left: 73px;
  cursor: pointer;
}
.header-lang-btn:hover {
    font-family:"roboto";
    font-weight: 300;
    font-size: 24px;
    color: #dcdcdc;
}
.hero {
    background-image: url(./img/background1.jpg);
    background-position: center;
    background-size: cover;
    min-height: 858px;
    display: flex;
  align-items: center;
}
.hero-logo {
    width: 160px;
height: 120px;
border: 1px solid red;
padding-bottom: 0px;
}
.hero-name {
    font-family: "PT serif";
font-weight: 400;
font-size: 48px;
color: #fff;
padding-left: 31px;
border: 1px solid red;
}
.hero-title {
    font-family: "Playfair display";
font-weight: 400;
font-size: 144px;
color: #fff;
border: 1px solid red;
}

.hero-subtitle {
    font-family: "Playfair display";
font-weight: 400;
font-size: 72px;
color: #fff;
border: 1px solid red;
}
.hero-text {
    font-family: "roboto";
font-weight: 400;
font-size: 18px;
color: #fff;
width: 508px;
height: 84px;
border: 1px solid red;
margin-top: 12px;
}
.hero-button {
    border-radius: 10px;
width: 254px;
height: 67px;
background: #8e32c6;
font-family: "roboto";
font-weight: 400;
font-size: 24px;
color: #fff;
border: 1px solid #8e32c6;
margin-top: 42px;
}
.benefits-item {
    display: flex;
}
.benefits-text {
    font-family: "Playfair display";
font-weight: 400;
font-size: 36px;
text-align: center;
color: #fff;
}
.benefits-icon {
    width: 240px;
height: 240px;
}
.benefits {
    background-image: url(./img/background2.webp);
    background-position: center;
    background-size: cover;
}
.reviews-title {
    font-family: "roboto";
font-weight: 400;
font-size: 48px;
text-align: center;
color: #fff;
}
.reviews-text {
    font-family: "roboto";
font-weight: 400;
font-size: 24px;
color: #fff;
}
.reviews-date {
    font-family: "roboto";
font-weight: 400;
font-size: 14px;
color: #d8d8d8;
}
.reviews-img {
    width: 31px;
    height: 31px;
}
.reviews-name {
    font-family: "roboto";
font-weight: 400;
font-size: 14px;
color: #fff;
}
.reviews-since {
    font-family: "roboto";
font-weight: 400;
font-size: 12px;
color: #d8d8d8;
}
.reviews {
    background-image: url(./img/background3.jpg);
    background-position: center;
    background-size: cover;
}
.order-title
{font-family: "Playfair display";
font-weight: 400;
font-size: 48px;
color: #fff;
}
.order-group {
    font-family: "roboto";
font-weight: 400;
font-size: 24px;
color: #959595;
}
.order-submit-btn {
    border-radius: 16px;
width: 248px;
height: 68px;
background-color: #8e32c6;
font-family:"roboto";
font-weight: 400;
font-size: 24px;
color: #fff;
border: 1px solid #8e32c6;
}
.order {
    background-image: url(./img/background4.jpg);
    background-position: center;
    background-size: cover;
}
.footer-text {
    font-family: "roboto";
font-weight: 400;
font-size: 24px;
color: #fff;
}
.footer-link {
    font-family: "roboto";
font-weight: 400;
font-size: 24px;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #fff;
}
.footer-copyright {
    font-family: "roboto";
font-weight: 400;
font-size: 24px;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #fff;
}
.footer-location {
    font-family: var(--font-family);
font-weight: 400;
font-size: 24px;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #fff;
}
.footer-logo {
    width: 108px;
height: 81px;
}
.footer-name{
    font-family:'pt serif';
font-weight: 400;
font-size: 24px;
color: #fff;
}
.footer {
    background-color: #021635;
}